@model KingMarket.Model.Models.EmployeeType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.EmployeeTypeId })" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span>  Edit</a>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>