body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.carousel-product{
    width:400px !important;
    height:300px !important;
}

.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

.js-row-content {
    margin-top: 10px;
    margin-bottom: 10px;
}
.table thead th {
    background-color: #3F5367;
    color: white;
    vertical-align: middle;
    border-bottom: 0px;
}
.table thead th a {
    color: white;
}
.table thead th label {
    margin-bottom: 0px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #EAF5F2;
}
hr.empty {
    margin:0 0 3% 0;
    border:0;
}
.pull-right {
    float: right;
    margin-top: 17px;
}
.form-inline-padding-right {
    padding-right: 0px;
}

.form-inline-padding-right 
input {
    max-width: none;
}