<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISupplierService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55981/SupplierService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISupplierService"
                contract="SupplierService.ISupplierService" name="BasicHttpBinding_ISupplierService" />
        </client>
    </system.serviceModel>
</configuration>